
/* Header */

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}


header.masthead {
  height: 100vh;
}

.dropdown-item {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  color: #717579 !important;
}

.dropdown-menu {
  margin-left: 16px;
}

.dropdown-item:active, .dropdown-item.active {
  background-color: white !important;
  color: #07265C !important;
}

header.masthead>div>div {
  width: 100%;
}

header.masthead {
  background-image: url("../media/background.gif");
}

header.masthead>div {
  background-color: rgba(45, 45, 70, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 200px 50px 50px 50px;
}

@media (max-width: 1200px) {
  header.masthead>div {
    padding-top: 90px;
  }
}

#title {
  font-size: 55px;
}

#subtitle > p {
  font-weight: bold;
  margin-bottom: 30px !important;
}

.dark-blue-hr {
  border-color: #07265C;
}

#svg-arrow {
  fill: white;
  width: 100%;
}

#svg-arrow-container {
  width: 100%;
  margin-top: 100px;
  padding: 30px;
  position:relative;
  bottom: 5%;
}

/* Main Content */

h2 {
  padding-bottom: 20px;
}

h3 {
  font-size: 24px;
}

.bg-light-blue {
  background-color: #E5F0FF;
}

.table td {
  vertical-align: top;
  padding: 10px;
  border-width: 0;
}

.quote {
  padding: 40px;
  margin: 15px 40px 25px;
  background-color: #FFF;
  font-size: 18px;
}

.quote-blue {
  padding: 40px;
  margin: 15px 40px 25px;
  background-color: #E5F0FF;
  font-size: 18px;
}

p, .quote {
  font-size: 21px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
}

p, .quote-blue {
  font-size: 21px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
}

.figure {
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px 30px;
}

.figure-img {
  height: 600px;
}

.art-video {
  padding: 20px 20px 30px;
}

td > a {
  color: white;
}

td > a:hover {
  color: white;
}